<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="{{ asset('build/images/logo.png') }}" width="50" height="50" class="ms-2" alt="search logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% set page = app.request.get('_route') %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page == 'home'%} active {% else %} {% endif %} ms-5" aria-current="page" href="{{ path('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page == 'index_books'%} active {% else %} {% endif %}" href="{{ path('index_books') }}">Livres</a>
        </li>
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                <a class="nav-link {% if page == 'loan_index_admin'%} active {% else %} {% endif %}" href="{{ path('loan_index_admin', { 'id': app.user.id }) }}">Livres prêtés</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link {% if page == 'loan_index_user'%} active {% else %} {% endif %}" href="{{ path('loan_index_user', { 'id': app.user.id }) }}">Mes livres empruntés</a>
                </li>
            {% endif %}
            <li class="nav-item">
            <a class="nav-link {% if page == 'app_logout'%} active {% else %} {% endif %}" href="{{ path('app_logout') }}">Déconnection</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link {% if page == 'app_register'%} active {% else %} {% endif %}" href="{{ path('app_register') }}">Inscription</a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if page == 'app_login'%} active {% else %} {% endif %}" href="{{ path('app_login') }}">Connexion</a>
            </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
</nav>