{% extends 'base.html.twig' %}

{% block title %}
	- Home
{% endblock %}

{% block body %}
<div class="container-fluid text-center p-5 bg-light border border-dark">
	<h1>Livres</h1>
</div>
<div class="container text-center p-5 mt-5">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Auteur</th>
				<th scope="col">#Id</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for indexBook in indexBooks %}
				<tr>
					<th scope="row">{{ indexBook.title }}</th>
					<td>{{ indexBook.author }}</td>
					<td>{{ indexBook.id }}</td>
					<td>
						{% if app.user and is_granted('ROLE_ADMIN') %}
							<a class="btn btn-outline-secondary" href="{{ path('book_show', { 'idBook' : indexBook.id }) }}">Voir</a>
						{% elseif app.user and is_granted('ROLE_USER') %}
							<a class="btn btn-outline-secondary" href="{{ path('loan_new', { 'idBook': indexBook.id, 'idUser': app.user.id }) }}">Emprunter</a>
						{% endif %}
						{% if app.user is null %}
							<a class="btn btn-outline-secondary" href="{{ path('app_login') }}">Se connecter</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

