{% extends 'base.html.twig' %}

{% block title %}
	- Home
{% endblock %}

{% block body %}
	<div class="container-fluid text-center p-5 bg-light border border-dark">
		<h1>Livres</h1>
	</div>
	<div class="container text-center p-5 mt-5">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Auteur</th>
					<th scope="col">#Id</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
            {% for indexBook in indexBooks | sort %}
				<tr>
					<th scope="row">{{ indexBook.title }}</th>
					<td>{{ indexBook.author }}</td>
					<td>{{ indexBook.id }}</td>
					{% if app.user %}
					    <td><a class="btn btn-outline-secondary" href="{{ path('loan_new', { 'idBook': indexBook.id, 'idUser': app.user.id }) }}">Emprunter</a></td>
                    {% else %}
					    <td><a class="btn btn-outline-secondary" href="{{ path('app_login') }}">Se connecter</a></td>
                    {% endif %}
				</tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

