{% extends 'base.html.twig' %}

{% block title %}
	- Home
{% endblock %}

{% block body %}
	<div class="container-fluid text-center p-5 bg-light border border-dark">
		<h1>Mes livres empruntés</h1>
	</div>
	<div class="container text-center p-5 mt-5">
		<h1 class="mb-5">{{ app.user.name }}</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Auteur</th>
					<th scope="col">#Id</th>
					<th scope="col">Date de début</th>
					<th scope="col">Date de fin</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
        	{% for loan in loans %}
				{% if app.user.id == loan.user.id %}
				<tr>
					<th scope="row">{{ loan.book.title }}</th>
					<td>{{ loan.book.author }}</td>
					<td>{{ loan.id }}</td>
					<td>{{ loan.dateStart |date("m/d/Y") }}</td>
					<td>{{ loan.dateEnd |date("m/d/Y") }}</td>
					<td>{{ include('loan/_delete_form.html.twig') }}</td>
				</tr>
				{% endif %}
            {% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

