{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <h1>Loan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loan.id }}</td>
            </tr>
            <tr>
                <th>DateStart</th>
                <td>{{ loan.dateStart ? loan.dateStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ loan.dateEnd ? loan.dateEnd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsReturned</th>
                <td>{{ loan.isReturned ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ loan.createdAt ? loan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('loan_index') }}">back to list</a>

    <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>

    {{ include('loan/_delete_form.html.twig') }}
{% endblock %}
